name: Metrics

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          user: Chagas09
          token: ${{ secrets.GITHUB_TOKEN }}

          template: classic
          base: header, activity, community, repositories

          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8

          plugin_stars: yes
          plugin_followers: yes
